.popup-modal {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 300ms ease-in-out;
  z-index: 1011;
  border-radius: 10px;
  overflow: hidden;
  width: 35% !important;
  position: fixed;
  display: none;
  border-bottom: 1px;
  @include media-breakpoint-up(md) {
    width: auto;
  }
  &-head {
    padding: 13px 10px 5px;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    .figure {
      border-radius: 50%;
    }
    .close {
      top: 15px;
      right: 15px;
      position: absolute;
      font-size: 16px;
      @include media-breakpoint-up(md) {
        font-size: 20px;
      }
    }
  }

  &-body {
  }

  &.is--visible {
    display: block;
    pointer-events: auto;
  }
}

.body-blackout {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 999;
  &.is-blacked-out {
    display: block;
  }
}

.custom-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1011;
  min-height: 70%;
  display: none;
  @include media-breakpoint-up(md) {
    width: 35%;
    &.set-left {
      left: 20%;
    }
    &.set-right {
      left: 68%;
      width: 60%;
      .close {
        display: none;
      }
    }
  }
  &-figure {
    height: 100px;
    width: 100px;
    background-size: 100%;
    border-radius: 50%;
    text-align: center;
    display: block;
    z-index: 1012;
    position: absolute;
    top: -10%;
    left: 39%;
    box-shadow: 0px 6px 15px #0000003c;
    border: 3px solid #1cc4fe;
    @include media-breakpoint-up(lg) {
      left: 41%;
    }
    &.hide {
      display: none;
    }
  }
  .close {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 20px;
  }
  &-body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    border-bottom: 3px solid #1cc4fe;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    max-height: 700px;
    overflow: auto;
    &.hide {
      display: none;
    }
    .department-info {
      padding: 35px 20px 10px;
      border-bottom: 1px solid #e2e2e2;
      &:last-child {
        border: none;
      }
      .user-info {
        padding: 20px 0;
        text-align: center;
        span {
          display: block;
        }
        &-id {
          font-size: 18px;
        }
        &-name {
          font-weight: 700;
          font-size: 26px;
        }
        &-department {
          font-size: 18px;
          color: #9bacbf;
          font-weight: 500;
        }
      }
      &-row {
        margin-bottom: 20px;
        overflow: hidden;
        .title {
          color: #9bacbf;
          font-size: 14px;
          float: left;
          min-width: 60px;
          .custom-svg {
            use {
              fill: #9bacbf;
            }
          }
        }
        .desc {
          font-size: 14px;
          color: #38435a;
          font-weight: 500;
          float: left;
          width: 75%;
        }
      }
      .profile-future {
        position: relative;
        margin-bottom: 15px;
        margin-top: -10px;
        span {
          box-shadow: 0px 3px 10px #00000029;
          padding: 7px 10px;
          border-radius: 10px;
          margin-right: 5px;
          .custom-svg {
            width: 15px;
            height: 15px;
            margin-top: -3px;
            margin-right: 2px;
            use {
              fill: #1cc4fe;
            }
          }
        }
      }
      .detail-profile-button {
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 7px;
        font-size: 16px;
        color: #979797;
        font-weight: 500;
        cursor: pointer;
      }
    }
    .detail-profile {
      padding: 27px 20px;
      &-item {
        margin-bottom: 20px;
        h1 {
          border-bottom: 1px solid #d6d6d6;
          font-size: 18px;
          color: #9bacbf;
          padding: 14px 0;
        }
        .info {
          max-height: 170px;
          overflow: auto;
        }
        .qualifications {
          max-height: 170px;
          overflow: auto;
          &-row {
            overflow: hidden;
            margin-bottom: 20px;
            .title {
              width: 10%;
              float: left;
              margin-right: 10px;
              font-weight: 500;
              color: #38435a;
            }
            .bar {
              float: right;
              width: 85%;
              height: 20px;
              background: #dfe4ea;
              border-radius: 10px;
              position: relative;
              transition: all 2s linear;
              &-inner {
                width: 0;
                height: 20px;
                line-height: 35px;
                background: #9bacbf;
                border-radius: 10px;
              }
            }
          }
        }
        .list-prf {
          width: 100%;
          max-height: 84px;
          overflow: auto;
          display: block;
          tr {
            height: 40px;
            .date {
              font-weight: normal;
              width: 27%;
            }
            .bd {
              width: 40%;
              font-weight: 500;
            }
            td {
              color: #38435a;
            }
          }
          &.type2 {
            .bd {
              width: 100%;
            }
          }
          &.type3 {
            .date {
              width: 20%;
            }
            .bd {
              width: 35%;
            }
          }
        }
      }
    }
  }
  &.is--visible {
    display: block;
    pointer-events: auto;
  }
}
